<!-- <STYLE type="text/css">
  H1 { text-align: center}
  </STYLE>
  <div class="card ml-2 mr-2 mt-2">
    <div class="card-body">
      <H1> Streaming de hoy</H1>
      <br>
      <br>
      <div class="col-md-12">

        <div style="width:245px; float:left;" class="col-md-12">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/QOhGQNYvgPc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div style="width:245px; background:#ffffff; float:right;" class="card col-md-3">
          <div class="card-body"> -->

            <!--Aqui va el chat-->
            <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <html>
            <body>
              <div class="mesgs">
                <div class="msg_history">
                  <div class="incoming_msg">

                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p>Apollo University, Delhi, India Test</p>
                        <span class="time_date"> 11:01 AM  |  Today</span>
                      </div>
                    </div>

                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p>Apollo University, Delhi, India Test</p>
                        <span class="time_date"> 11:01 AM  |  Today</span>
                      </div>
                    </div>

                    <div class="outgoing_msg">
                      <div class="sent_msg">
                        <p>Apollo University, Delhi, India Test</p>
                        <span class="time_date"> 11:01 AM  |  Today</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </body>
            </html>
          </div>
        </div>
      </div>
    </div>
      <div class="streaming-footer" class="col-md-11 ml-5 mt-5 mb-5">
          <div class="input-group">
            <input ID="txt_streaming" type="text" Class="form-control" placeholder="Escribe algo...">
            <button id="send" class="btn btn-success" type="button">
            <mat-icon>send</mat-icon> </button>
          </div>

      </div>
  </div> -->
 <h1 class="text-center">Stream en vivo</h1>
 

<div class="col-md-12 col-sm-12">
    <video #myvideo ></video>
</div>
<div class="col-md-12 col-sm-12">
  <video #video2></video>
</div>

