<STYLE type="text/css">
 H1 { text-align: center}
</STYLE>
<div class="card ml-2 mr-2 mt-2">
  <div class="card-body">
<H1> Lista de super </H1>
<div class="col-dm-12 card  mt-5 ml-5 mr-5">
  <div class="col-dm-12 card-body">

    <div class="pb-3 col-sm-12  mt-4">
      <table class="table table-striped table-hover">
       <th>Ingrediente</th>
       <th>Cantidad</th>
       <th>Medida</th>
       <tbody>
         <tr>
            <td>Chorizo</td>
            <td> 1</td>
            <td>Kg</td>
         </tr>
         <tr>
           <td>Queso</td>
           <td> 2</td>
           <td>Kg</td>
        </tr>
        <tr>
         <td>Jamón</td>
         <td> 1</td>
         <td>Kg</td>
      </tr>
       </tbody>
      </table>
   </div>

  </div>
</div>

<div class="col-md-12 mt-5 container col-sm-12">
  <div class="col-sm-12 col-md-12 text-center">
    <button label="Descargar" mat-raised-button color="accent">
        Descargar PDF
    </button>
  </div>
</div>

</div>
</div>
