
    <div class="ml-3 mr-3 mt-3 mb-5"  class="form-group">
          <div class="col-md-12 col-sm-12 row mt-2">
              <mat-form-field class="col-md-9 col-sm-12" appearance="fill">
                  <mat-label>Nombre de la receta</mat-label>
                  <input
                    matInput
                    placeholder="Ingrese el nombre del utensilio"
                    [(value)]="title"
                    [(ngModel)]='title'
                    required
                  />
                </mat-form-field>
          </div>
      
          <!--insertado-->
      
          <div class="col-md-12 col-sm-12 mt-5">
              <mat-form-field class="col-md-4 col-sm-12" appearance="fill">
                  <mat-label>Insertar minutos</mat-label>
                  <input
                    matInput
                    placeholder="60"
                    type="number"
                    [(value)]='cooktime'
                    [(ngModel)]='cooktime'
                    required
                  />
                </mat-form-field>
                <mat-form-field class="col-md-4 col-sm-12" appearance="fill">
                  <mat-label>Inserta porciones</mat-label>
                  <input
                    matInput
                    placeholder="5"
                    type="number"
                    [(value)]='portions'
                    [(ngModel)]='portions'
                    required
                  />
                </mat-form-field>
                <mat-form-field class="col-md-4 col-sm-12" appearance="fill">
                  <mat-label>Inserta calorías por porción en kcal</mat-label>
                  <input
                    matInput
                    type="number"
                    [(value)]='portionsCalories'
                    [(ngModel)]='portionsCalories'
                    placeholder="500"
                    required
                  />
                </mat-form-field>
          </div>
      
          <!--categoria-->
          <div class="col-md-12 col-sm-12 row mt-5">
              <div class="col-md-4 col-sm-12">
                  <mat-form-field appearance="fill">
                  <mat-label>Categoría</mat-label>
                  <mat-select   [(value)]='category' required>
                    <mat-option
                        *ngFor="let categories of uidCategory | async"
                        [value]="categories.categoryName"
                        required>
                        {{ categories.categoryName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-12">
                  <mat-form-field appearance="fill">
                  <mat-label>Temporada</mat-label>
                  <mat-select name ="season" [(value)]='season' required>
                    <mat-option
                        *ngFor="let season of uidSeason | async"
                        [value]="season.seasonName"
                        required>
                        {{ season.seasonName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-12">
                  <mat-form-field appearance="fill">
                  <mat-label>Colección</mat-label>
                  <mat-select name ="collection" [(value)]='collection'  required>
                    <mat-option
                        *ngFor="let colletions of uidCollection | async"
                        [value]="colletions.collectionName"
                        required>
                        {{ colletions.collectionName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-sm-12">
                <mat-form-field appearance="fill">
                <mat-label>Region</mat-label>
                <mat-select name ="region" [(value)]='region'  required>
                  <mat-option
                      *ngFor="let region of uidRegion | async"
                      [value]="region.regionName"
                      required>
                      {{ region.regionName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
      
          </div>
          </div>
          <mat-dialog-actions align="end" >
            <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
            <button mat-raised-button color="primary" (click)='updateRecipe()' mat-dialog-close>
              Confirmar
            </button> 
          </mat-dialog-actions>

