<STYLE type="text/css">
  H1 { text-align: center}
  </STYLE>
  <div class="card mt-5 ml-5 mr-5">
    <h2 class="text-center mt-3">Estrellas por mes</h2>
    <div class="card-body col-md-12 col-sm-12 ">

      <div class="flex">
        <div class="flex-item">
          <div style="display: block;">
          <canvas baseChart width="400" height="300"
                      [datasets]="lineChartData"
                      [labels]="lineChartLabels"
                      [options]="lineChartOptions"
                      [colors]="lineChartColors"
                      [chartType]="lineChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>

          </div> 

    </div>
  </div>




