<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
      <h3 class="form-title">Registrate Ahora</h3>
    </div>

    <div class="form-body">
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
        <mat-form-field class="justifier">
          <mat-label>Inserta tu email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
      </mat-form-field>
      <mat-form-field class="justifier">
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="constraseña" formControlName="password" class="form-input" required  (change)="validation()"> 
        </mat-form-field>
      <button mat-raised-button class="btn custom-btn" type="submit" >
            <mat-icon>add</mat-icon> Registrarse
        </button>
    </form>
    </div>
    <div class="additional-link">
      <a routerLink="/login">¿Ya tiene una cuenta? <strong>Entra</strong></a>
    </div>
  </div>
</div>
 