section.main-container {
  display: flex;
  height: 90%;
  background-color: white;
  font-size: 16px;
}
  section.main-container app-list {
    height: auto;
  }
  section.main-container app-chat-area {
    height: 100%;
    width: 100%;
  }
  
  .chatbox{
    height: 90%;
    width: 100%;
  }