
<mat-nav-list *ngIf='data==true'>
    <a  mat-list-item (click)="deleteData()" mat-dialog-close>
        <span mat-line >Eliminar Receta</span>
      </a>
    
      <a mat-list-item (click)='updateData()' mat-dialog-close>
        <span mat-line>Editar Receta</span>
      </a>
</mat-nav-list>
<mat-nav-list *ngIf='data==false'> 
    <a  mat-list-item  (click)='firstOption()'>
        <span mat-line>La receta no es coherente: el contenido de la receta (pasos) no cumple con el objetivo esperado (título).</span>
      </a>
    
      <a  mat-list-item  (click)='secondOption()'>
        <span mat-line>Contenido inapropiado: la receta contiene fotos que no van de acuerdo con la descripción de los pasos</span>
      </a>
</mat-nav-list>
<form [formGroup]="optionForm" > 
    <mat-form-field class="col-md-9 col-sm-12 mt-5" appearance="fill" *ngIf='!bander'>
    <input
    formControlName="coment"
      matInput
      placeholder="Inserta tu reporte"
      required
    />
  </mat-form-field> 
</form>
<mat-dialog-actions align="end" *ngIf='data==false'>
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary"[disabled]='bander' (click)='optionSubmit()' mat-dialog-close>
      Confirmar
    </button> 
  </mat-dialog-actions> 