<div class="card ml-2 mr-2 mt-2">
  <div class="card-body">

    <div class="float-left">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="gem" class="svg-inline--fa fa-gem fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M485.5 0L576 160H474.9L405.7 0h79.8zm-128 0l69.2 160H149.3L218.5 0h139zm-267 0h79.8l-69.2 160H0L90.5 0zM0 192h100.7l123 251.7c1.5 3.1-2.7 5.9-5 3.3L0 192zm148.2 0h279.6l-137 318.2c-1 2.4-4.5 2.4-5.5 0L148.2 192zm204.1 251.7l123-251.7H576L357.3 446.9c-2.3 2.7-6.5-.1-5-3.2z"></path></svg>
    </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-2">
      <div class="image">
        <img class="card-img-top" mat-card-image src="https://assets.nacionrex.com/__export/1582590075513/sites/debate/img/2020/02/24/69ec52ac01bd9e7c316b91bd4c3aa2ed_crop1582590058186.jpg_1577178466.jpg" alt="Perrito"/>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-2">
      <br>
      <br>
      <h2>bbcito33</h2>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-2">
      <h3>Estado</h3>
      <h3>Jalisco</h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-2">
      <h3>Nivel</h3>
      <h3>Principiante</h3>
    </div>


    <div>

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Seguidores</th>
            <th scope="col">Seguidos</th>
            <th scope="col">Publicaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>123</td>
            <td>10044</td>
            <td>61</td>
          </tr>
          </tbody>
          </table>


    </div>

  </div>
  </div>
  </div>

