<STYLE type="text/css"> H1 { text-align: center} </STYLE>
<div class="card ml-2 mr-2 mt-2">
  <div class="card-body">
    <H1> Recetas guardadas </H1>
    <div class="col-md-12 text-right">
      <form [formGroup]="recipeSavedForm">
      <mat-form-field appearance="fill" class="col-md-4 col-sm-4">
        <mat-label>Filtro por categorías</mat-label>
        <mat-select
          name="category"
          requiered
          formControlName="recipeSavedCategory"
          required
        >
          <mat-option
            *ngFor="let categories of category | async"
            [value]="categories.categoryName"
            required
          >
            {{ categories.categoryName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button (click)="search()" color="primary">
        <mat-icon>search</mat-icon>
      </button>
      </form>
    </div>
    <div class="row" >
      <div class="col-sm-6 col-md-4" *ngFor="let recipes of recipe | async">
        <div class="card" >
        <app-card-recipe
          [uidRecipe]="recipes.uidRecipe"
        [uidCategory]='uidCategory'></app-card-recipe>
      </div>
      </div>
    </div>
  </div>
</div>
