<STYLE type="text/css">
 H1 { text-align: center}
 H2 { text-align: center}
</STYLE>
<div class="card ml-2 mr-2 mt-2">
<div class="card-body">
<H1>Buscador de recetas</H1>
<br>
<div class="col-sm-12 col-md-12 text-center">
  <button mat-icon-button color="primary">
    <mat-icon>search</mat-icon>
  </button>
    <mat-form-field class="col-md-4 col-sm-4">
      <mat-label>Nombre de la receta</mat-label>
        <input
          matInput
          formControlName="text"
          required
        />
      </mat-form-field>
</div>
<br>
<br>
<h2>Filtros</h2>

<div class="col-sm-12 col-md-12 text-center">

  <mat-form-field appearance="fill" class="col-md-2 col-sm-2">
    <mat-label>Técnica</mat-label>
    <mat-select name ="técnica" requiered formControlName = "searchTechnique" required>
      <mat-option
        *ngFor="let technique of techniques | async"
        [value]="technique.uid"
      required >
        {{ technique.nameTechnique }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-md-2 col-sm-2">
    <mat-label>Categoría</mat-label>
    <mat-select name ="categoría" requiered formControlName = "searchCategory" required>
      <mat-option
        *ngFor="let categories of category | async"
        [value]="categories.uid"
      required >
        {{ categories.categoryName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-md-2 col-sm-2">
    <mat-label>Temporada</mat-label>
    <mat-select name ="temporada" requiered formControlName = "searchSeason" required>
      <mat-option
        *ngFor="let seasons of season | async"
        [value]="seasons.uid"
      required >
        {{ seasons.seasonName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-md-2 col-sm-2">
    <mat-label>Región</mat-label>
    <mat-select name ="región" requiered formControlName = "searchRegion" required>
      <mat-option
        *ngFor="let regions of region | async"
        [value]="regions.uid"
      required >
        {{ regions.regionName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="col-md-2 col-sm-2">
    <mat-label>Colección</mat-label>
    <mat-select name ="colección" requiered formControlName = "searchCollection" required>
      <mat-option
        *ngFor="let collections of collection | async"
        [value]="collections.uid"
      required >
        {{ collections.collectionName }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
</div>
</div>
