<STYLE type="text/css">
  H1 { text-align: center}
</STYLE>

<div class="col-dm-12 card  mt-5 ml-5 mr-5">
  <div class="col-dm-12 card-body">
    <H1>Alacena</H1>
    <div class="pb-3 col-sm-12  mt-4">
      <table class="table table-striped table-hover">
       <th>Ingrediente</th>
       <th>Cantidad</th>
       <th>Medida</th>
       <th>Acción</th>
       <tbody>
        <tr *ngFor="let table of itemList |async">
          <td>{{table.uidIngredient}}</td>
          <td>{{table.cant}}</td>
          <td>{{table.uidUnit}}</td>
          <td><button
            mat-raised-button
            color="accent"
            type="button" (click)="deleteItems(table.uid)">
            Eliminar
          </button></td> 
        </tr>
       </tbody>
      </table>
   </div>

  </div>
</div>
