
<section class="chat">
    <div class="chat-header">
        <div class="chat-header-room-name">
        <h4>{{roomName}}</h4>
    </div>
    <img src="{{photo}}" alt=""  class="img-circle">
     
 </div>
 
 <div class="chat-body">
    <app-chat-room></app-chat-room>
 </div>


 <div class="chat-footer">
    <form #form="ngForm" (ngSubmit)="formSubmit(form)">
        <input name="message"
             ngModel
               placeholder="Escribe un mensaje"
               type="text"
               class="chat-footer-send-message"
        >
      </form> 
       <button  mat-stroked-button type="submit" (click)="formSubmit(form)"><mat-icon>send</mat-icon></button> 
 </div>
    
</section>
