<section class="chat">
    <div class="chat-header">
        <div class="chat-header-room-name">
        <h4>Room name</h4>
    </div>
    <img src="https://lh3.googleusercontent.com/a-/AOh14GiwK4gvf6GPsEYNU9yIgooVXrvS4_3P_66nZ1VRbw=s88-c-k-c0x00ffffff-no-rj-mo" alt=""  class="img-circle">
     
 </div>
  
 <div class="chat-body">
    <app-chat-room></app-chat-room>
 </div>
 <div class="chat-footer">
    <form >
        <input name="message"
               placeholder="Type a message"
               type="text"
               class="chat-footer-send-message"
        >
      </form> 
       <button type="submit"><mat-icon>send</mat-icon></button> 
 </div>
    
</section>
