<div class="form-wraper mb-5">
  <div class="form-container card">
    <div class="form-header">
      <h3 class="form-title">Llena tus datos</h3>
    </div>
    <div class="form-body">
      <form [formGroup]="registerForm" (ngSubmit)="insert_user()">
        <div class="row ml-5">
          <div class="col-lg-6 col-sm-6 col-12">
            <mat-form-field class="justifier" appearance="fill">
              <mat-label>Nombre de Usuario</mat-label>
              <input
                matInput
                placeholder="papasito33"
                formControlName="nameDisplay"
                required  (blur)="search($event)" (change)="space()"
              />
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label required>Estado</mat-label>
              <mat-select name="states" required formControlName="userState">
                <mat-option
                  *ngFor="let state of states | async"
                  [value]="state.uid"
               required >
                  {{ state.stateName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row ml-5">
          <div class="col-lg-6 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label>Dia de Nacimiento</mat-label>
              <input
                matInput
                [matDatepicker]="dp"
                [min]="minDate"
                [max]="maxDate"
              required formControlName="userDate"/>
              <mat-datepicker-toggle
                matSuffix
                [for]="dp"
              ></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <mat-form-field appearance="fill">
              <mat-label required>Categoria que te gusta</mat-label>
              <mat-select name="category"required formControlName="userCategory">
                <mat-option
                  *ngFor="let categories of category | async"
                  [value]="categories.uid"
                >
                  {{ categories.categoryName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="center btn container-input-file">
          <h4>Foto de perfil :</h4>
          <input type="file"
          accept=".jpeg" (change)="onUpload($event)">
        </div>
        <input #imageUser type="hidden" [value]="urlImage | async">
        <div *ngIf="user$ | async as user; " type="hidden">
        <input #idUser  [value]=" user.uid">
      </div>
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> Preguntas (opcionales) </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="pregresp">
              <div class="pregunta">
                ¿Cómo se le llama a la técnica de cocina que consiste en
                introducir un recipiente con la comida dentro de una olla con agua
                a fuego lento? <br />
              </div>
              <div class="respuestas">
                <input
                  type="radio"
                  formControlName="preg1"
                  value="1"
                />Baño Maria<br />
                <input type="radio" formControlName="preg1" value="0"/>Escaldar<br />
                <input type="radio" formControlName="preg1" value="0.0"/> Adobar<br />
              </div>
            </div>

            <div class="pregresp">
              <div class="pregunta">
                ¿Cuál es la realcion ideal de café y agua en el prensado frances?
                <br />
              </div>
              <div class="respuestas">
                <input type="radio" formControlName="preg2" value="1" />60 a 70 gr de café
                por 2 litro de agua<br />
                <input type="radio" formControlName="preg2" value="0" />60 a 70 gr de café
                por litro de agua<br />
                <input type="radio" formControlName="preg2" value="0.0" /> 30 a 60 gr de café
                por litro de agua<br />
              </div>
            </div>
            <div class="pregresp">
              <div class="pregunta">
                ¿Cuántas cucharaditas hay en una cuchara sopera? <br />
              </div>
              <div class="respuestas">
                <input type="radio" formControlName="preg3" value="1" />4<br />
                <input type="radio" formControlName="preg3" value="0" />3<br />
                <input type="radio" formControlName="preg3" value="0.0" />2<br />
              </div>
            </div>
            <div class="pregresp">
              <div class="pregunta">
                El marinaje perfecto para el pescado es... <br />
              </div>
              <div class="respuestas">
                <input type="radio" formControlName="preg4" value="1" />Vino tinto<br />
                <input type="radio" formControlName="preg4" value="0" />Vino rosado<br />
                <input type="radio" formControlName="preg4" value="0.0" />Vino blanco<br />
              </div>
            </div>
            <div class="pregresp">
              <div class="pregunta">
                ¿Cuál es la técnica de cocina ideal ára hacer la harina más fina y
                quitar impurezas? <br />
              </div>
              <div class="respuestas">
                <input type="radio" formControlName="preg5" value="1" />Escalfar<br />
                <input type="radio" formControlName="preg5" value="0" />Reducir<br />
                <input type="radio" formControlName="preg5" value="0.0" />Tamizar<br />
              </div>
            </div>
            <div class="pregresp">
              <div class="pregunta">
                El merengue italiano se prepara solamente con... <br />
              </div>
              <div class="respuestas">
                <input type="radio" formControlName="preg6" value="1" />Agua y huevo<br />
                <input type="radio" formControlName="preg6" value="0" />Azucar y claras de
                huevo<br />
                <input type="radio" formControlName="preg6" value="0.0" />Agua ,azucay y claras
                de huevo<br />
              </div>
            </div>
            <div class="pregresp">
              <div class="pregunta">¿Para que sirve la chaira? <br /></div>
              <div class="respuestas">
                <input type="radio" formControlName="preg7" value="1" />Es un agitador<br />
                <input type="radio" formControlName="preg7" value="0" />Para afilar
                cuchillos<br />
                <input type="radio" formControlName="preg7" value="0.0" />PAra cortar carne<br />
              </div>
            </div>
            <div class="pregresp">
              <div class="pregunta">
                ¿Cómo puedes evitar que la amntequilla se queme en el sartén?
                <br />
              </div>
              <div class="respuestas">
                <input type="radio" formControlName="preg8" value="1" />La mantequilla no se
                quema<br />
                <input type="radio" formControlName="preg8" value="0" />Agrega un poco de
                aceite<br />
                <input type="radio" formControlName="preg8" value="0.0" />Agregar un poco de
                agua<br />
              </div>
            </div>
            <div class="pregresp">
              <div class="pregunta">
                ¿Cuánto timepo debemos precalentar le horno? <br />
              </div>
              <div class="respuestas">
                <input type="radio" formControlName="preg9" value="1" />20-25 minutos<br />
                <input type="radio" formControlName="preg9" value="0" />10-15 minutos<br />
                <input type="radio" formControlName="preg9" value="0.0" />15-20 minutos<br />
              </div>
            </div>
            <div class="pregresp">
              <div class="pregunta">
                ¿Termino correcto para comer un filete de rib-eye? <br />
              </div>
              <div class="respuestas">
                <input type="radio" formControlName="preg10" value="1" />1/4<br />
                <input type="radio" formControlName="preg10" value="0" />1/2<br />
                <input type="radio" formControlName="preg10" value="0.0" /> 3/4<br />
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <button mat-raised-button class="btn custom-btn" type="submit">
          <mat-icon>input</mat-icon> Entrar
        </button>
      </form>
    </div>
  </div>
</div>
