<STYLE type="text/css">
  H1 { text-align: center}

  </STYLE>
  <div class="card ml-2 mr-2 mt-2">
    <div class="card-body">
      <H1> Creación de mensaje Premium </H1>
      <br>
      <br>
      <div class="col-md-12">
        <form  [formGroup]="adPremium" (ngSubmit)="create_ad()">
        <mat-form-field class="col-md-4 col-sm-4">
          <mat-label>Mensaje</mat-label>
          <textarea matInput formControlName="message" 
          placeholder="Inserte mensaje llamativo"></textarea>
        </mat-form-field>

        <br>

        <div class="col-md-12">
          <p>Inserta video llamativo (menos de un minuto)</p>
        </div>

        <div class="col-md-12">
          <input type="file" accept=".mp4" (change)="onUpload($event)" >
        </div>
        <video #video *ngIf="urlImage" width="320" height="240" controls [src]="urlImage|async" (loadedmetadata)="getDuration($event)">
        </video>
        <input [value]="urlImage|async" #inputVideo type="hidden">
        <br>
        <br>

        <mat-form-field class="col-md-4 col-sm-4">
          <mat-label>Costo</mat-label>
          <input
            matInput
            placeholder="Inserta el costo que tendrá"
            formControlName="cost"
            type="number"
            min="0"
          />
        </mat-form-field>
        <mat-form-field class="col-md-4 col-sm-4">
          <mat-label>Cuenta paypal(Client ID)</mat-label>
          <input
            matInput
            placeholder="Inserta el costo que tendrá"
            formControlName="paypalCount"
            type="text"
          />
        </mat-form-field>

        <br>
        <br>

        <div class="col-md-12 text-center">
          <button mat-raised-button color="accent" (click)="create_ad()">Confirmar</button>
        </div>
        </form>
      </div>
    </div>
  </div>
