.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: rgb(88, 1, 170);
  color:white; 
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 2;
}
mat-sidenav-content{
  background-color: white;
}
