<div class="chat-area" *ngIf="user$ | async as user">
    <ng-container *ngIf="messageData?.length>0;else other">
        <div *ngFor="let m of messageData" [ngClass]="{'chat-area-message-owner':user.uid==m.uidUser}" class="chat-area-message"> 
            <span class="chat-area-message-name">{{m.nameDisplay}}</span>
            <span class="chat-area-message-text">{{m.message}}</span>
            <span class="chat-area-message-time">{{m?.time?.seconds*1000|date:"mediumTime"}}</span>
        </div>
    </ng-container>
    <ng-template #other>
        <h1 style="text-align: center;">No message</h1>
    </ng-template>
</div>