<STYLE type="text/css">
  H1 { text-align: center}
  </STYLE>

<!-- Título para solicitar un utensilio -->
<form [formGroup]="cookWareForm" (ngSubmit)="insert_cookware()">
  <div class="card mt-5 ml-5 mr-5">
    <h1 class="text-center mt-3">Solicitar utensilios</h1>
    <div class="card-body col-md-12 col-sm-12 ">

      <!-- Ingresar el nombre del utensilio a solicitar-->
      <div class="col-md-12">
        <mat-form-field class="col-md-4 col-sm-4">
          <mat-label>Utensilio</mat-label>
          <input formControlName = "cookwareName"
            matInput
            placeholder="Ingrese el nombre del utensilio"
            required
          />
        </mat-form-field>
      </div>
      <!-- Seleccionar la dificultad del utensilio-->
      <div class="col-md-12">
        <mat-form-field appearance="fill" class="col-md-4 col-sm-4">
          <mat-label>Dificultad del utensilio</mat-label>
          <mat-select name ="dificulty" requiered formControlName = "cookwareDificulty" required>
            <mat-option
                  *ngFor="let difficulties of dificulty | async"
                  [value]="difficulties.uid"
               required >
                  {{ difficulties.levelName }}
                </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="user$ | async as user; " type="hidden">
        <input #idUser type="hidden" [value]=" user.uid">
      </div>
      <!-- Botón para enviar la solicitud-->
      <div class="col-md-12 text-center mt-4">
        <button mat-raised-button class="btn custom-btn" type="submit"  mat-raised-button color="accent">
          Solicitar
      </button>
      </div>

    </div>
  </div>
</form>
