  <div class="card ml-2 mr-2 mt-2">
    <div class="card-body">

      <div class="row" >
        <div class="col-xs-12 col-sm-6 col-md-4"*ngFor="let reci of recipe|async ">
          <div class="card">
            <div class="image">
              <img class="card-img-top" mat-card-image src="{{reci.principalPhoto}}" alt="Pozole"/>
            </div>
            <div class="card-body">
              <mat-card-title><a routerLink="/receta/{{reci.uid}}">{{reci.title}}</a></mat-card-title>
              <mat-card-content><br>
                0 estrellas<br>
                {{displayName}} 
              </mat-card-content>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
