
<h1 style="text-align: center;">Recetas del Mes</h1>
<hr class="my-4">
<ngx-light-carousel [options]="options1" [data]="contact" class="wrapper c-accent"
	style="display: block; margin-bottom: 100px;">
	<section ngx-light-carousel-container class="content">
		<article ngx-light-carousel-item *ngFor="let product of contact; let i = index" class="col-md-4 col-sm-12"> 
			<div class="card mb-2">
						<img class="card-img-top" mat-card-image src="{{product.principalPhoto}}">
            <div class="card-body">
              <mat-card-title>
                <a routerLink="/receta/{{product.uid}}"> {{product.title}}</a>
              </mat-card-title>
              <mat-card-content>
              </mat-card-content>
          </div>
			</div>
		</article>
		<ng-template #infiniteContainer></ng-template>
	</section>

	<ng-template #carouselContent let-product let-i="index">
		<article class="col-md-4 col-sm-12">
			<div>
        <img class="card-img-top" mat-card-image src="{{product.principalPhoto}}">
        <div class="card-body">
          <mat-card-title>
            <a routerLink="/receta/{{product.uid}}"> {{product.title}}</a>
          </mat-card-title>
          <mat-card-content>
          </mat-card-content>
      </div>
  </div>
		</article>
	</ng-template>

	<ng-template #carouselPrev>
		<div class="click-area">
		</div>
	</ng-template>
	<ng-template #carouselNext>
		<div class="click-area">
		</div>
	</ng-template>

	<ng-template #carouselDot let-model>
		<div class="ball bg-accent"></div>
	</ng-template>

	<ng-template #carouselProgress let-progress>
		<div class="progress"></div>
	</ng-template>

</ngx-light-carousel>
