<div class="card mt-5 ml-5 mr-5">
    <div class="card-body">
      <h3 class="card-title text-center">Por favor ingresa tu email</h3>
      <div class="form-group">
        <input
          type="email"
          class="form-control"
         [formControl]="userEmail"
          required
        />
      </div>
      <div class="form-group text-center">
        <button class="btn btn-primary btn-lg" (click)="onReset()">
          Resetear la contraseña
        </button>
      </div>
    </div>
  </div>
