<STYLE type="text/css">
  H1 { text-align: center}
  </STYLE>
  <div class="card ml-2 mr-2 mt-2">
    <div class="card-body">
      <H1> Suscripción Premium con {{displayName}}</H1>
      <br>
      <br>
      <div class="col-md-12">

        <br>

        <div class="col-md-12">
          <p>{{message}} </p>
        </div>

        <br>
        
        <div  class="row col-md-12 col-sm-12">
          <video class="col-md-7" width="320" height="240" [src]="urlVideo" controls >
          </video>
          <div class="card col-md-5 h-25 d-inline-block">
            <div class="card-body">
            <p class="text-center">${{cost}} pesos</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div  class="text-center row col-md-12">
      <div class="col-md-3 col-sm-12">..</div>
      <div [hidden]="paypalButtons" style="width: 50%" class="col-sm-12"  #paypal></div>
    </div>
   

    <br>
    <br>

  </div>