<STYLE type="text/css">
  H1 { text-align: center}

  </STYLE>
  <div class="card ml-2 mr-2 mt-2">
    <div class="card-body">
      <H1> Suscripción Premium con bbcito33</H1>
      <br>
      <br>
      <div class="col-md-12">

        <br>

        <div class="col-md-12">
          <p>Holaaaaa amigo!, te invito a que te unas a mi hermosa comunidad,
            tendrás grandes sorpresas si te suscribes conmigo, tendrás acceso
            a grandes recetas y a mis videos en vivo donde estaré cocinando. </p>
        </div>

        <br>

        <div style="width:245px; float:left;" class="col-md-12">
          <iframe width="640" height="360" src="https://www.youtube.com/embed/kiVPYwa8kPs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


        <div style="width:245px; background:#ffffff; float:right;" class="card col-md-3 mt-5">
          <div class="card-body">
            <p class="text-center">$10.99 pesos</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <button mat-raised-button color="accent">Suscribirse</button>
    </div>

    <br>
    <br>

  </div>

