<STYLE type="text/css">
H1 { text-align: center}
</STYLE>

<!-- Título del módulo para solicitar ingredientes -->
<div class="card mt-5 ml-5 mr-5">
  <h1 class="text-center mt-3">Solicitar ingredientes</h1>
  <div class="card-body col-md-12 col-sm-12 ">

    <!-- Introduce el nombre del ingrediente a solicitar -->
    <div class="col-md-12">
      <mat-form-field class="col-md-4 col-sm-4">
        <mat-label>Ingrediente</mat-label>
        <input
          matInput
          placeholder="Ingrese el nombre del ingrediente o producto"
          formControlName="text"
          required
        />
      </mat-form-field>
    </div>

    <!-- Muestra los diferentes tipos de ingrediente-->
    <div class="col-md-12">
      <mat-form-field appearance="fill" class="col-md-4 col-sm-4">
        <mat-label>Tipo de ingrediente</mat-label>
        <mat-select>
          <mat-option value="option">Carne</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Botón para enviar la solicitud-->
    <div class="col-md-12 text-center mt-4">
      <button label="Solicitar" type="submit" mat-raised-button color="accent">
        Solicitar
    </button>
    </div>

  </div>
</div>

