*{
    box-sizing: border-box;
}
.father{
    display:flex;
    flex-flow: column nowrap;
}
.cardss{
    padding: 20px; 
    margin: 20px;
    display: flex;
}
.line1,.line2,.line3{
    padding: 10px;
    margin: 20px;
    flex: 2 1 auto;
}
a{
    padding: 10px;
    margin: 10px;
    font-size: 15px;
}
.imgss{
    height: 200px;
    width: 250px; 
    margin-left: 30px;
}
.image_star{
    display: flex;
    flex-flow: column;
}
.stars{
    align-items: center;
}
.star_color{
    color:rgb(248, 248, 23);
}
.iconsn{
    color:#478516;
}
mat-icon{
    size: 105px;
}