<div class="card mt-5 ml-5 mr-5 mb-5 " *ngFor="let comentHelp of helps|async">
    <div class="card-body">
          <div class="col-md-12 col-sm-12">
            <a routerLink="/usuario/{{comentHelp.uidUser}}">{{comentHelp.displayName}}</a>  
            <h3>{{comentHelp.helpComment}}</h3>
          </div>
    </div>
    <app-vista-respuestas [helpComment]="comentHelp"></app-vista-respuestas>
    <div class="text-center">
        <form [formGroup]="comentAnswerForm"  *ngIf="show" (ngSubmit)="insert_answer(comentHelp.uid)">
        <mat-form-field class="col-md-9 col-sm-12 mt-5" appearance="fill">
        <input
          matInput
          formControlName="comentAnswer"
          placeholder="Inserta una respuesta"
          required
        />
      </mat-form-field> 
      <button  mat-stroked-button type="submit" ><mat-icon>send</mat-icon></button> 
      </form>
    </div>
</div> 
<div class="text-center" *ngIf="show2">
    <form [formGroup]="comentHelpForm" (ngSubmit)="insert_help()">
    <mat-form-field class="col-md-9 col-sm-12 mt-5" appearance="fill">
    <input
    formControlName="coment"
      matInput
      placeholder="Inserta una pregunta"
      required
    />
  </mat-form-field> 
  <button  mat-stroked-button type="submit" ><mat-icon>send</mat-icon></button> 
</form>
</div>

